@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
$r-west: #E74536;

html,
body {
  height: 100%;
  #page-container, .success-page {
    background: url('../img/rwest-background.jpg') no-repeat center center #000;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -o-background-size:cover;
    background-position: fixed;
    position: fixed;
    overflow-y:scroll;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  #success-container {
    max-width: 540px;
  	min-width: 300px;
  	height: auto;
  	margin: 5% auto;
    color: #fff;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-size: 60px;
      font-family: 'Fjalla One', sans-serif;
      #name {
        color: $r-west;
      }
    }
    img {
      display: block;
      margin:0 auto;
      text-align: center;
      height: 250px;
    }
    #success-greet {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      color:#fff;
      font-size:24px;
      text-align: center;
      text-shadow: 5px 5px 10px #000;
    }
  }
  .content-container{
  	max-width: 540px;
  	min-width: 300px;
  	height: auto;
  	margin: 5% auto;
    img.logo{
      display: block;
      margin:0 auto;
      text-align: center;
      height: 250px;
    }
    img.welcome{
      display: block;
      margin:0 auto;
      text-align: center;
      margin-top:20px;
      margin-bottom: 20px;
      // height: 250px;
    }
    .greeting-message {
    	font-family: "Open Sans", sans-serif;
    	font-style: normal;
    	font-weight: 400;
    	color:#fff;
    	font-size:24px;
    	text-align: center;
      text-shadow: 5px 5px 10px #000;
    }
  }
  .contact-list-container{
    margin: 40px auto;
    #form {
      // height: 80px;
      width: 100%;
      position: relative;
      display: block;
      label {
        display: none;
      }
      #text-block {
        width: 100%;
        input {
          width: 100%;
          height: 60px;
          border: 2px solid #777777;
          background: rgba(255, 255, 255, 0.9) no-repeat right 30px center;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 15px;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-size: 24px;
          color: #777777;
          letter-spacing: 1px;
          font-weight: 700;
          padding: 10px;
        }
      }
      .select {
        width: 100%;
        height: 60px;
        border: 2px solid #777777;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
        #emp-select {
          background: url(../img/rwest-select-icon.png) no-repeat right 30px center;
        }
        .slct {
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-size: 24px;
          color: #777777;
          letter-spacing: 1px;
          font-weight: 700;
          border: none;
          background: none;
        }
      }
      #submit {
      width: 100%;
      height: 60px;
      background: #c73704;
      text-align: center;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: 1px;
      cursor: pointer;
      border-radius: 10px;
      border: 2px solid #bf5b38;
      box-shadow: inset 10px 10px 40px 0px rgba(255,255,255,0.25);
      padding: 10px;
      margin: 10px;
      }
    }
  }
}
